.title {
  text-align: center;
  font: 100;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: darkturquoise;
  font-weight: 800;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
}

img{

    width: 300px;
    height: 188px;
    padding: 0.7em;
}

main{
    margin: 25px;
}
header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
}
.list-container {
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.about-me {
  float: left;
  width: 45%;
}
figure{
    display: flex;
    float: left;
    width: 45%;
    margin: 1px;
}
footer {
    background: #111;
    color: ivory;
    padding: 15px;
    text-align:center;
  }

.list{
    /* display: flex; */
    float: left;
    width: 45%;
    margin: 12px;
    border-radius: 12px;
    box-shadow: 0 0 14px #868e96;
}

h1 {
  font-size: 36px;
}
