

.title{
    text-align: center;
    font: 100;
align-items: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: darkturquoise;
font-weight: 800;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
}
header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
}
h1 {
    font-size: 36px;
}
.container {
    margin: 20px;
}